<h1 class="text-info">Informacion sobre Clothes.com</h1>
<form asp-controller="Information" asp-action="Index" method="post" role="form">
    <h2>Hola</h2>

    <h2>Clothes. com es una tienda de compras electronicas, la cual a estado en uso desde hace unos dos años aproximadamente, 
        Clothes.com ha sido una de las pocas tiendas electronicas que han ido mejorando y evolucionando con el paso del tiempo,
        paso de una simple tienda como todas las demas, a contar con su propio sistema de ventas electronicas, la cual la a ayudado
        a conseguir mas clientes dia con dia.
     </h2>
</form>
