<h1 class="text-info"> Catalago de Categorias</h1>
<form asp-controller="Products" asp-action="Index" method="post" role="form">

    <div class="text-center">
        <h1 class="display-4 text-primary">Categorias</h1>
        <h2> Clothes.com tiene las siguientes categorias en sus productos</h2>


    </div>
    <div class="p-4 border rounded">


        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Ropa Dama
                </th>

            </tr>
            <tr class="table-secondary">
                <th>
                    Ropa Caballero
                </th>
            </tr>
            <tr class="table-secondary">
                <th>
                    Ropa Niño
                </th>
            </tr>
            <tr class="table-secondary">
                <th>
                    Ropa Niña
                </th>
            </tr>
        </table>

    </div>

    <h2> Este apartado aun esta en desarrollo</h2>
</form>
